<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cotton-translator/cotton-translator-behavior.html">

<dom-module id="cotton-pdf-viewer">
    <template>
        <style>
            :host {
                display: none;
                height: 100%;
            }
            :host([file]) {
                display: inherit;
            }
            :host p {
                text-align: center;
            }
            .box {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% - 40px);
                padding: 20px;
                text-align: center;
                vertical-align: middle;
                font-size: 15pt;
                @apply(--cotton-pdf-viewer-text);
            }
        </style>

        <object data="[[_embeddedFile]]" type="application/pdf" width="[[width]]" height="[[height]]">
          <p class="box">
              <span>[[NotSupportedMessage]]</span>&nbsp;<a href="[[file]]" target="_blank">[[NotSupportedLinkMessage]]</a>
          </p>
        </object>
    </template>

    <script>
        const CottonPdfViewerDictionary = {
          es: {
            NotSupportedMessage: 'Su aplicación no está configurada para visualizar documentos PDF. No hay problema, ',
            NotSupportedLinkMessage: 'haga click aquí para descargar el documento PDF.'
          },
          en : {
            NotSupportedMessage: 'It appears your application is not configured to display PDF files. No worries, just',
            NotSupportedLinkMessage: 'click here to download the PDF file.'
          }
        };

        Polymer({
            is: 'cotton-pdf-viewer',

            behaviors : [ CottonBehaviors.TranslatorBehavior ],

            properties: {
                file: { type: String, value: undefined, reflectToAttribute: true, observer: '_refreshEmbeddedFile' },
                _embeddedFile: { type: String, value: undefined, reflectToAttribute: true },
                height: { type: String, value: '400px' },
                width: { type: String, value: '100%' },
                elevation: { type: String, value: '1' }
            },

            attached : function() {
                this.translate(CottonPdfViewerDictionary);
            },

            _refreshEmbeddedFile : function() {
                if (this.file == null) return;
                this._embeddedFile = this.file + (this.file.indexOf("?") != -1 ? "&" : "?") + "embedded=true";
            },

            clear: function() {
                this.file = undefined;
            }
        });
    </script>
</dom-module>